.gitignore
*.pyc
__pycache__
*.o
*.so
*.a
*.log
*.out
.DS_Store
*.vcd
./obj_dir/
./verilator/
./bin/
./vscode
a.out
obj_dir/
Graphical-Micro-Architecture-Simulator-main/
*.gtkw
!signals.gtkw
netlist/
